<div class="main-box">
    <div class="text-center" style="width: 800px;">
        <div class="d-flex justify-content-center">
            <div class="d-flex align-self-start child-box-1">
                <div class="align-self-center">
                    <img class="ps-5" src="../../../../../assets/codanalise-branco.png" width="70%">
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center child-box-2">
                <div class="w-75">
                    <h5 class="mb-5" style="color: #118AB2;">Login</h5>
                        <input class="form-control border-2 w-75 p-2 campo" placeholder="Usuário"><br>
                        <input class="form-control border-2 w-75 p-2 campo" placeholder="Senha">

                    <div class="d-flex align-items-start mt-3 ms-4">
                        <input class="ms-3" style="padding: 20px;" type="checkbox"> <span class="ms-2" style="font-size: 12px;">Lembrar senha</span>
                    </div>

                    <button class="mt-4 p-2 w-75 botao">Entrar</button>

                    <button class="mt-5 p-2 w-75 botao-social"><i class="fab fa-facebook me-2" style="font-size: 20px;"></i> Entrar com facebook</button>
                    <button class="mt-2 p-2 w-75 botao-social"><i class="fab fa-google me-2" style="font-size: 18px;"   ></i> Entrar com google</button>


                    <h5 class="mt-4 criar-conta">Não tem uma conta? <a class="crie-uma">Crie uma</a></h5>
                </div>
            </div>

    </div>
</div>
