<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionContainer" [ngClass]="{'darkmode': getDark === 'true'}">
    <div class="accordion-body">
        <ng-container *ngIf="propostas.length > 0 else semProposta"></ng-container>
        <div class="card my-3 border-0"*ngFor="let proposta of propostas; let i = index">
            <div class="card-header d-flex align-items-center">
                <p class="m-0 flex-grow-1 fs-6" style="font-weight: 500;">Proposta {{i+1}}</p>
                <span class="text-gray" style="font-size: 13px;" *ngIf="proposta.estado === 'Andamento'"><i class="fas fa-circle" style="color:#F3D27C; font-size: 10px;"></i> Em andamento</span>
                <span class="text-gray" style="font-size: 13px;" *ngIf="proposta.estado === 'Recusado'"><i class="fas fa-circle text-danger" style="font-size: 10px;"></i> Recusado</span>
            </div>
            <div class="card-body row p-0">
                <div class="col-12 col-lg-10 p-4">
                    <div class="mt-2">
                        <span style="font-weight: 500;">Comentário: </span>
                        <span>{{proposta.comentario}}</span>
                    </div>
                    <div class="mt-2">
                        <span style="font-weight: 500;">Valor da proposta: </span>
                        <span>{{proposta.valor}}</span>
                    </div>
                    <div class="mt-2">
                        <span style="font-weight: 500;">Data da proposta: </span>
                        <span>{{proposta.dt_prop}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


<ng-template #semProposta>
    <div class="text-center">
        <small>Sem propostas.</small>
    </div>
</ng-template>
  


