<div class="publicacao-area" [ngClass]="{'darkmode': getDark === 'true'}">
  <div class="card border-0">

    <div class="card-header d-flex align-items-center">
      <h6 class="mt-2 flex-grow-1">{{postagemEspecifica?.titulo}}</h6>
      <div class="d-flex align-items-center">
        <p class="m-0 me-5" style="font-size: 13px;">{{postagemEspecifica?.datapostagem}}</p>
        <div (click)="favourite()" *ngIf="!isFavourite">
          <i class="far fa-bookmark fs-4 me-3"></i>
        </div>
        <div (click)="favourite()" *ngIf="isFavourite">
          <i  class="fas fa-bookmark fs-4 me-3"></i>
        </div>
      </div>
    </div>

    <div class="card-body mx-0 mx-md-5">
      <div>
        <h6 class="fw-bold">Descrição</h6>
        <p>{{postagemEspecifica?.descricao}}</p>
      </div>

      <div class="d-flex flex-wrap">
        <div class="d-flex align-items-center me-md-5">
          <p class="fw-bold me-2">Valor:</p>
          <p [hidden]="postagemEspecifica?.valor == 0" class="me-5">{{postagemEspecifica?.valor}}</p>
          <p [hidden]="postagemEspecifica?.valor > 0" class="me-5">Grátis</p>
        </div>
        <!-- <div class="d-flex align-items-center">
          <p class="fw-bold ms-md-5 me-2">Arquivo:</p>
          <p>arquivo.js</p>
        </div> -->
      </div>
      <p></p>
      <div>
        <p class="fw-bold mb-2">Linguagens relacionadas:</p>
        <div class="d-flex flex-wrap">
          <span *ngFor="let tags of postagemEspecifica?.tags" class="border rounded p-1 me-2" style="font-size: 14px;">{{tags?.linguagem}}</span>
        </div>
      </div>

      <div class="card-footer d-flex mt-5">
        <a class="nav-link" (click)="comentando()"><i class="far fa-comment"></i> Comentar</a>
        <a class="nav-link" (click)="propondo()"><i class="fas fa-pencil-alt"></i> Propor</a>
      </div>
      <hr class="m-0">

      <!--Comentar-->
      <form [formGroup]="formularioComentario" (submit)="validarFormularioComentario()">
        <div class="col-12 col-md-8 mt-4" [hidden]="!comentar">
          <div>
            <label class="form-label" for="descricao">Comentário</label>
            <textarea formControlName="comentario" class="form-control" type="text" id="descricao" rows="3"></textarea>
          </div>
          <div class="mt-4">
            <button type="submit" class="btn-primary-color text-white py-2 px-3 border-0">Comentar</button>
          </div>
        </div>
      </form>

      <!--Propor-->
      <form [formGroup]="formularioProposta" (submit)="validaFormularioProposta()">
        <div class="col-12 col-md-8 mt-4" [hidden]="!propor">
          <div class="d-flex flex-column flex-md-row">
            <div>
              <label class="form-label" for="valor">Valor</label>
              <input formControlName="valor" class="form-control" type="text" prefix="R$" mask="separator.2" separatorLimit="10000" thousandSeparator=".">
            </div>
            <div class="form-check align-items-start align-self-md-end ms-md-3 mb-0">
              <input class="form-check-input" type="checkbox" value="" id="semValor" (click)="removerCampoValor($event)">
              <label class="form-check-label" for="semValor">
                Desejo fazer uma proposta gratuita
              </label>
            </div>
          </div>
          <div>
            <label class="form-label mt-3" for="descricao">Comentário</label>
            <textarea formControlName="comentario" class="form-control" type="text" id="descricao" rows="3"></textarea>
          </div>
          <div class="mt-4">
            <button type="submit" class="btn-primary-color text-white py-2 px-3 border-0">Enviar</button>
          </div>
        </div>
      </form>

      <!--Comentários-->
      <ng-container *ngIf="postagemEspecifica?.comentarios != null || postagemEspecifica?.comentarios.length == 0">
        <div *ngFor="let col of postagemEspecifica?.comentarios" class="card border-0 bg-white text-dark-gray mt-4" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
          <div class="card-header d-flex align-items-center bg-white">
            <img class="rounded-circle me-3" src="../../../../../assets/img/personas/avatar.png" alt="" width="50px">
            <div>
              <h6 class="m-0">{{col.autorComent?.nome}} {{col.autorComent?.sobrenome}}</h6>
              <p class="m-0" style="font-size: 13px;">{{col.autorComent?.status}}</p>
            </div>
          </div>
            <div class="card-body mx-0 mx-md-5">
              <p>{{col?.comentario}}</p>
            </div>
        </div>
      </ng-container>

      <!-- Propostas -->
      <ng-container *ngIf="postagemEspecifica?.propostas != null || postagemEspecifica?.propostas.length == 0">
        <div *ngFor="let col of postagemEspecifica?.propostas" class="card border-0 bg-white text-dark-gray mt-4" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">

              <div class="card-header d-flex align-items-center bg-white">
                <div class="mt-2 flex-grow-1 d-flex align-items-center">
                  <img class="rounded-circle me-3" src="../../../../../assets/img/personas/avatar.png" alt="" width="50px">
                  <div>
                    <h6 class="m-0">{{col.mentor.usuario.nome}} {{col.mentor.usuario.sobrenome}}</h6>
                    <span style="font-size: small;">{{col.mentor.usuario.status}}</span>
                  </div>
                  
                </div>

                <p *ngIf="col.valor == ''" class="mt-3">Proposta gratuita</p>
                <p *ngIf="col.valor != ''" class="mt-3">R${{col?.valor}},00</p>
              </div>

              
            <div class="card-body mx-0 mx-md-5">
              <p>{{col.comentario}}</p>
              
            </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>
