<div class="publicacao-area">
  <div class="card border-0 bg-white text-dark-gray" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">

    <div class="card-header d-flex align-items-center bg-white">
      <h6 class="mt-2 flex-grow-1">Code Review</h6>
      <div class="d-flex align-items-center">
        <p class="m-0 me-5 text-gray" style="font-size: 13px;">Publicado: há 5 min</p>
        <div (click)="favourite()" *ngIf="!isFavourite">
          <i class="far fa-bookmark fs-4 me-3"></i>
        </div>
        <div (click)="favourite()" *ngIf="isFavourite">
          <i  class="fas fa-bookmark fs-4 me-3"></i>
        </div>
      </div>
    </div>

    <div class="card-body mx-0 mx-md-5">
      <div>
        <h6 class="fw-bold">Descrição</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex.</p>
      </div>

      <div class="d-flex flex-wrap">
        <div class="d-flex align-items-center me-md-5">
          <p class="fw-bold me-2">Valor:</p>
          <p class="me-5">Grátis</p>
        </div>
        <div class="d-flex align-items-center">
          <p class="fw-bold ms-md-5 me-2">Arquivo:</p>
          <p>arquivo.js</p>
        </div>
      </div>

      <div>
        <p class="fw-bold mb-2">Linguagens relacionadas:</p>
        <div class="d-flex flex-wrap">
          <span class="bg-dark-gray text-white rounded p-2 me-2" style="font-size: 14px;">JavaScript</span>
          <span class="bg-dark-gray text-white rounded p-2 me-2" style="font-size: 14px;">Angular</span>
          <span class="bg-dark-gray text-white rounded p-2 me-2" style="font-size: 14px;">CSS3</span>
          <span class="bg-dark-gray text-white rounded p-2 me-2" style="font-size: 14px;">HTML5</span>
        </div>
      </div>

      <div class="card-footer d-flex bg-white mt-5">
        <a class="nav-link text-dark-gray" (click)="comentando()"><i class="far fa-comment"></i> Comentar</a>
        <a class="nav-link text-dark-gray" (click)="propondo()"><i class="fas fa-pencil-alt"></i> Propor</a>
      </div>
      <hr class="m-0">

      <!--Comentar-->
      <form [formGroup]="formularioComentario" (submit)="validarFormularioComentario()">
        <div class="col-12 col-md-8 mt-4" [hidden]="!comentar">
          <div>
            <label class="form-label" for="descricao">Comentário</label>
            <textarea formControlName="comentario" class="form-control" type="text" id="descricao" rows="3"></textarea>
          </div>
          <div class="mt-4">
            <button type="submit" class="btn-primary-color text-white py-2 px-3 border-0">Comentar</button>
          </div>
        </div>
      </form>

      <!--Propor-->
      <form [formGroup]="formularioProposta" (submit)="validaFormularioProposta()">
        <div class="col-12 col-md-8 mt-4" [hidden]="!propor">
          <div class="d-flex flex-column flex-md-row">
            <div>
              <label class="form-label" for="valor">Valor</label>
              <input formControlName="valor" class="form-control" type="text">
            </div>
            <div class="form-check align-items-start align-self-md-end ms-md-3 mb-0">
              <input class="form-check-input" type="checkbox" value="" id="semValor" (click)="removerCampoValor($event)">
              <label class="form-check-label" for="semValor">
                Desejo fazer uma proposta gratuita
              </label>
            </div>
          </div>
          <div>
            <label class="form-label mt-3" for="descricao">Comentário</label>
            <textarea formControlName="comentario" class="form-control" type="text" id="descricao" rows="3"></textarea>
          </div>
          <div class="mt-4">
            <button type="submit" class="btn-primary-color text-white py-2 px-3 border-0">Enviar</button>
          </div>
        </div>
      </form>

      <!--Comentários-->
      <div class="card border-0 bg-white text-dark-gray mt-4" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">

        <div class="card-header d-flex align-items-center bg-white">
          <img class="rounded-circle me-3" src="../../../../../assets/img/personas/persona.png" alt="">
          <div>
            <h6 class="m-0">Camila Souza</h6>
            <p class="m-0" style="font-size: 13px;">Desenvolvedor</p>
          </div>
        </div>
        <div class="card-body mx-0 mx-md-5">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex.</p>
        </div>
      </div>

    </div>

  </div>
</div>
