.publicacao-area {
  margin-left: 300px;
  padding: 25px 50px;

  .card {
    border-radius: 15px; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: #616161;
    .card-header {
      background-color: white;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .card-footer {
      background-color: white;
      color: #616161;
      a {
        color: #616161;
      }
    }
  }

  .fa-bookmark {
    cursor: pointer;
  }
  
  button {
    border-radius: 10px;
  }
  a {
    cursor: pointer;
  }
}

input, textarea {
  outline: none;
  &:focus {
    box-shadow: none;
    border: solid 2px #118ab2;
  }

  &:checked {
    border: solid 2px #118ab2;
    background-color: #118ab2;
  }
}

.darkmode {
  background-color: #20232A;
  
  box-shadow: none;
  .card {
    background-color: #282C34;
    box-shadow: none;
    color: #F5F5F5;
    .card-header, .card-footer {
      background-color: #282C34;
      color: #F5F5F5;
      a {
        color: #F5F5F5;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .publicacao-area {
    margin: 0;
    padding: 20px;
  }
}
