.devs-area {
  padding: 25px 50px;
  input[type=text] {
    border-radius: 10px 0px 0px 10px;
    border-right: none;
  }
  button {
    border-radius: 0px 10px 10px 0px;
  }

}

input {
  outline: none;
  &:focus {
    box-shadow: none;
    border: solid 2px #118ab2;
  }
}

@media screen and (max-width: 800px) {
  .devs-area {
    margin: 0;
    padding: 20px;
  }
}
