<div class="devs-area" [ngStyle]="{'margin-left' : validaLogin === 'true' ? '300px'  : '0px', 'padding-top' : validaLogin === 'true' ? ''  : '100px'}" [ngClass]="{'darkmode': getDark === 'true'}">
  <div class="card border-0">
    <div class="card-header">
      <h6 class="m-2">Devs</h6>
    </div>
    <ng-container *ngIf="!loading else carregamento">
      <app-devs-listagem [usuario]="usuario"></app-devs-listagem>
    </ng-container>
  </div>
</div>

<ng-template #carregamento>
  <div class="text-center p-5 m-5">
    <h5>Carregando <i class="fa fa-spinner fa-spin pl-2"></i></h5>
  </div>
</ng-template>

