@import '../../../../../scss/custom.scss';

.devs-area {
  padding: 25px 50px;
  input[type=text] {
    border-radius: 10px 0px 0px 10px;
    border-right: none;
  }
  button {
    border-radius: 0px 10px 10px 0px;
  }

}

@media screen and (max-width: 800px) {
  .devs-area {
    margin: 0;
    padding: 20px;
  }
}
