.devs-area {
  // height: 100vh;
  padding: 25px 50px;
  input[type=text] {
    border-radius: 10px 0px 0px 10px;
    border-right: none;
  }
  button {
    border-radius: 0px 10px 10px 0px;
  }
  input {
    outline: none;
    &:focus {
      box-shadow: none;
      border: solid 2px #118ab2;
    }
  }
  .card {
    background-color: white ;
    color: #616161;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;
    border-radius: 15px;
    .card-header {
      background-color: white;
      color: #616161;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
  

}

.darkmode {
  background-color: #20232A ;
  color: #F5F5F5;
  box-shadow: none;
  .card {
    background-color: #282C34;
    color: #F5F5F5;
    box-shadow: none;
    .card-header {
      color: #F5F5F5;
      background-color: #282C34;
    }
  }
}

@media screen and (max-width: 800px) {
  .devs-area {
    margin: 0;
    padding: 20px;
  }
}
