<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{area}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
  </div>
  <div class="modal-body">

    <div *ngIf="area == 'Sobre'">
      <h6 class="text-primary-color">Sobre</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex.</p>
      <hr>
      <h6 class="text-primary-color">Contato</h6>
      <p class="m-0">Email: usuario@email.com</p>
      <p class="m-0">Telefone: (81)99999-9999</p>
    </div>

    <div *ngIf="area == 'Publicações'">

      <div class="card border-0 bg-white text-dark-gray my-3 mx-1 mx-md-2">
        <div class="card-header d-flex align-items-center bg-white">
          <a routerLink="detalhe-publicacao" class="mt-2 flex-grow-1 text-dark-gray">Code Review</a>
          <p class="mt-3 text-gray" style="font-size: 13px;">Publicado: há 5 min</p>
        </div>

        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex.</p>
        </div>

        <div class="card-footer d-flex justify-content-end flex-wrap bg-white border-0">
            <span class="bg-dark-gray text-white rounded p-2 me-2" style="font-size: 14px;">JavaScript</span>
            <span class="bg-dark-gray text-white rounded p-2 me-2" style="font-size: 14px;">Angular</span>
            <span class="bg-dark-gray text-white rounded p-2 me-2" style="font-size: 14px;">CSS3</span>
            <span class="bg-dark-gray text-white rounded p-2 me-2" style="font-size: 14px;">HTML5</span>
        </div>

      </div>
    </div>

    <div *ngIf="area == 'Ferramentas'">
      <div>
        <i class="fab fa-js-square fs-2 mb-2 me-2"></i>JavaScript
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.</p>
      </div>
      <hr>
      <div>
        <i class="fab fa-angular fs-2 mb-2 me-2"></i>Angular
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.</p>
      </div>
    </div>

    <div *ngIf="area == 'Avaliações'">

      <div class="card border-0 bg-white text-dark-gray my-3 mx-1 mx-md-2">
        <div class="card-header d-flex align-items-center bg-white">
          <img class="rounded-circle me-3" src="../../../../../assets/img/personas/persona.png" alt="">
          <div>
            <h6 class="m-0">Camila Souza</h6>
            <p class="m-0" style="font-size: 13px;">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </p>
          </div>
        </div>
        <div class="card-body mx-0 mx-md-3">
          <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.</p>
        </div>
      </div>

    </div>

  </div>

</div>
