<div class="feed-area" [ngClass]="{'darkmode': getDark === 'true'}">
  <div class="card border-0">

    <div class="card-header">
      <h6 class="m-2">Feed</h6>
    </div>

    <div class="container m-auto w-100">
      <div class="d-flex align-items-center mt-5">
        <div class="input-group">
          <input class="form-control border-2 border-end-0 py-2" type="text" placeholder="Pesquise por tag ou nome do Dev">
          <button type="button" class="btn bg-primary-color border-0 py-2 px-4 fs-5 text-white"><i class="fas fa-search"></i></button>
        </div>
        <div>
          <button class="btn-primary-color ms-2 text-white border-0 px-4 py-2 rounded" (click)="add()">Publicar</button>
        </div>
      </div>

      <ng-container *ngIf="!loading else carregando">
      <ng-container *ngIf="publicacaoService.postagem.length > 0 else semPublicacoes">
        <div *ngFor="let col of publicacaoService.postagem; let i = index" class="card my-5 border-0">
          <div class="container">
            <div class="card-header d-flex align-items-center">
              <a (click)="dadosDetalhePublicacao(i)" routerLink="detalhe-publicacao" class="mt-2 flex-grow-1">{{col.titulo}}</a>
              <p class="mt-3" style="font-size: 13px;"><span>{{col.autor.nome}} {{col.autor.sobrenome}} -  </span> {{col.datapostagem}}</p>
            </div>

            <div class="card-body">
              <p>{{col.descricao}}</p>
            </div>

            <div class="card-footer d-flex justify-content-end flex-wrap border-0">
                <span *ngFor="let tags of col.tags" class="border rounded p-1 me-2" style="font-size: 14px;">{{tags.linguagem}}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    </div>

  </div>
</div>

<ng-template #semPublicacoes>
  <div class="text-center">
    <h5 class="m-5">Sem publicações.</h5>
  </div>
</ng-template>

<ng-template #carregando>
  <div class="text-center">
    <h5 class="m-5">Carregando <i class="fa fa-spinner fa-spin pl-2"></i></h5>
  </div>
</ng-template>
