<div class="my-4">
  <hr class="mx-4 my-1" style="border: 1px solid gray;">
  <div class="d-flex justify-content-between align-items-center mx-5">
    <div class="d-flex align-items-center my-2">
      <img class="rounded-circle me-3" src="../../../../../assets/img/personas/persona.png" alt="">
      <div>
        <h6 class="m-0">Camila Souza</h6>
        <p class="m-0" style="font-size: 13px;">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </p>
      </div>
    </div>
    <div>
      <button class="bg-secondary-color border-0 rounded text-white py-1 px-3" type="button">Perfil</button>
    </div>
  </div>
  <hr class="mx-4 my-1" style="border: 1px solid gray;">
</div>
