@import '../../../../scss/custom.scss';

.sidebar {
  position: fixed;
  font-weight: 600;
  background-color: white;
  border-radius: 0px 15px 15px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  li {
    a {
      color: $gray;
      border-radius: 17px;
    }
  }
}
