<div class="perfil-area accordion" id="accordionContainer">

  <div class="accordion-item border-0 bg-white text-dark-gray" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button text-dark-gray fw-bold btn-white bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Minhas Publicações
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionContainer">
      <div class="accordion-body">

        <div class="card bg-white my-3 border-0" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
            <div class="card-header d-flex align-items-center bg-white">
              <a routerLink="historico-detalhe" class="mt-2 flex-grow-1 text-dark-gray">Code Review</a>
              <p class="mt-3 text-gray" style="font-size: 13px;">Publicado: há 5 min</p>
            </div>

            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex.</p>
            </div>

            <div class="card-footer d-flex justify-content-end flex-wrap bg-white border-0">
                <span class="bg-dark-gray text-white rounded p-2 me-2" style="font-size: 14px;">JavaScript</span>
                <span class="bg-dark-gray text-white rounded p-2 me-2" style="font-size: 14px;">Angular</span>
                <span class="bg-dark-gray text-white rounded p-2 me-2" style="font-size: 14px;">CSS3</span>
                <span class="bg-dark-gray text-white rounded p-2 me-2" style="font-size: 14px;">HTML5</span>
            </div>
        </div>

      </div>
    </div>
  </div>

  <div class="accordion-item border-0 bg-white text-dark-gray mt-3" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button text-dark-gray fw-bold btn-white bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Minhas aulas
      </button>
    </h2>
    <app-minhas-aulas></app-minhas-aulas>
  </div>

  <div class="accordion-item border-0 bg-white text-dark-gray mt-3" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button text-dark-gray fw-bold btn-white bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Minhas propostas
      </button>
    </h2>
    <app-minhas-publicacoes></app-minhas-publicacoes>
  </div>

</div>
