.perfil-area {
  margin-left: 300px;
  padding: 25px 50px;
  border-radius: 15px;
}
.card-header {
  a {
    text-decoration: none;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
}

button {
  outline: none;
  &:focus {
    box-shadow: none;
  }
}

@media screen and (max-width: 800px) {
  .perfil-area {
    margin: 0;
    padding: 20px;
  }
}
