.perfil-area {
  height: 100vh;
  margin-left: 300px;
  padding: 25px 50px;

  .accordion-item {
    background-color: white;
    color: #616161;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
  }
  .accordion-header, .accordion-button {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #616161;
  }
  
  button {
    color: #F5F5F5;
    outline: none;
    &:focus {
      box-shadow: none;
    }
  }
}

.darkmode {
  background-color: #20232A;
  color: #F5F5F5;
  box-shadow: none;
  .accordion-item {
    background-color: #282C34;
    box-shadow: none;
  }
  .accordion-header, .accordion-button {
    background-color: #282C34;
    box-shadow: none;
    color: #F5F5F5;
  }
}

@media screen and (max-width: 800px) {
  .perfil-area {
    margin: 0;
    padding: 20px;
  }
}
