<div class="avaliacoes-area">
  <div class="card border-0 bg-white text-dark-gray mx-0 mx-md-5" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">

    <div class="card-header bg-white">
      <h6 class="m-2">Avaliações</h6>
    </div>

    <div class="card border-0 bg-white text-dark-gray my-3 mx-1 mx-md-3">
      <div class="card-header d-flex align-items-center bg-white">
        <img class="rounded-circle me-3" src="../../../../../assets/img/personas/persona.png" alt="">
        <div>
          <h6 class="m-0">Manuela Silva</h6>
          <p class="m-0" style="font-size: 13px;">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </p>
        </div>
      </div>
      <div class="card-body mx-0 mx-md-3">
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.</p>
      </div>
    </div>

  </div>
</div>
