.avaliacoes-area {
  margin-left: 300px;
  padding: 25px 50px;

  .card {
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

@media screen and (max-width: 800px) {
  .avaliacoes-area {
    margin: 0;
    padding: 20px;
  }
}
