<div class="carteira-area" [ngClass]="{'darkmode': getDark === 'true'}">
  <div class="card border-0 mx-0 mx-md-5">

    <div class="card-header">
      <h6 class="m-2">Carteira</h6>
    </div>

    <div class="card-body m-0 m-md-5">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item border-0">Saldo total:</li>
        <li class="list-group-item border-0">R$ 5.000,00</li>
      </ul>

      <ul class="list-group list-group-horizontal">
        <li class="list-group-item border-0">Disponível para saque:</li>
        <li class="list-group-item border-0 text-success">R$ 3.000,00</li>
      </ul>

      <div class="d-flex border-0 justify-content-center my-4">
        <button type="button" class="btn-primary-color text-white py-2 px-5 border-0">Sacar</button>
      </div>
    </div>

  </div>
</div>
