.carteira-area {
  margin-left: 300px;
  padding: 25px 50px;

  button {
    border-radius: 20px;
  }
}

@media screen and (max-width: 800px) {
  .carteira-area {
    margin: 0;
    padding: 20px;
  }
}
