<div class="contatos-area">
  <div class="card border-0 bg-white text-dark-gray mx-0 mx-md-5" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">

    <div class="card-header bg-white">
      <h6 class="m-2">Contatos</h6>
    </div>

    <ul class="nav justify-content-around mt-5">
      <li class="nav-item"><a routerLink="seguidores" routerLinkActive="active" class="nav-link fw-bold p-0">Seguidores</a></li>
      <li class="nav-item"><a routerLink="seguindo" routerLinkActive="active" class="nav-link fw-bold p-0">Seguindo</a></li>
    </ul>

    <div>
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
