<div class="contatos-area" [ngClass]="{'darkmode': getDark === 'true'}">
  <div class="card border-0 mx-0 mx-md-5">

    <div class="card-header">
      <h6 class="m-2">Contatos</h6>
    </div>

    <ul class="nav justify-content-around mt-5">
      <li class="nav-item"><a routerLink="seguidores" routerLinkActive="active" class="nav-link fw-bold p-0">Seguidores</a></li>
      <li class="nav-item"><a routerLink="seguindo" routerLinkActive="active" class="nav-link fw-bold p-0">Seguindo</a></li>
    </ul>

    <div>
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
