.contatos-area {
  margin-left: 300px;
  padding: 25px 50px;

  a {
    color: #A2A2A2;
  }

  .active {
      color: #118ab2 ;
      border-bottom: 2px solid #118ab2;
  }

  button {
    border-radius: 20px;
  }
}

@media screen and (max-width: 800px) {
  .contatos-area {
    margin: 0;
    padding: 20px;
  }
}
