<div class="configuracoes-area">
  <div class="card border-0 bg-white text-dark-gray mx-0 mx-md-5" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">

    <div class="card-header bg-white">
      <h6 class="m-2">configurações</h6>
    </div>

    <div class="card-body px-0 px-md-5 my-4">

      <div class="form-check form-switch d-flex justify-content-between p-0 px-md-3">
        <label class="form-check-label" for="modoEscuro">Modo Escuro</label>
        <input class="form-check-input" type="checkbox" id="modoEscuro">
      </div>

      <hr style="border: 1px solid gray">

      <div class="d-flex justify-content-between p-0 px-md-3">
        <label for="tipoConta">Tipo de Conta</label>
        <select id="tipoConta" class="border-primary-color rounded">
          <option value="aluno">Aluno</option>
          <option value="mentor">Mentor</option>
        </select>
      </div>
    </div>

  </div>
</div>
