<div class="configuracoes-area" [ngClass]="{'darkmode': getDark === 'true'}">
  <div class="card border-0 mx-0 mx-md-5">

    <div class="card-header">
      <h6 class="m-2">Configurações</h6>
    </div>

    <div class="card-body px-0 px-md-5 my-4">

      <div class="form-check form-switch d-flex justify-content-between p-0 px-md-3">
        <label class="form-check-label" for="modoEscuro">Modo Escuro</label>
        <input class="form-check-input" type="checkbox" id="modoEscuro" #modoEscuro [checked]="getDark === 'true'" (click)='darkMode(modoEscuro.checked)'>
      </div>

      <hr>

      <div class="d-flex justify-content-between p-0 px-md-3" *ngIf="mentor === false">
        <label for="tipoConta">Tipo de Conta</label>
        <a (click)="abrirModalTornarMentor()" class="text-primary-color" style="cursor: pointer;">Torne-se Mentor</a>
      </div>
    </div>

  </div>
</div>
