<form class="modal-content" [formGroup]="formulario" (submit)="onSubmit()" [ngClass]="{'darkmode': getDark === 'true'}">
  <div class="modal-header">
    <h5 class="modal-title">Publicar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCancelClose()"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label class="form-label" for="titulo">Título</label>
      <input class="form-control" formControlName="titulo" type="text" id="titulo" [ngClass]="aplicaCssErro('titulo')">
      <span class="invalid-feedback" style="font-size: 12px;">Campo obrigatório</span>
    </div>
    <div class="mb-3">
      <label class="form-label" for="desc">Descrição</label>
      <textarea class="form-control" formControlName="descricao" type="text" id="desc" rows="4" [ngClass]="aplicaCssErro('descricao')"></textarea>
      <span class="invalid-feedback" style="font-size: 12px;">Campo obrigatório</span>
    </div>
    <div class="mb-3">
      <label class="form-label" for="valor">Valor (opcional)</label>
      <div class="d-flex">
        <input class="form-control" formControlName="valor" type="text" prefix="R$" mask="separator.2" separatorLimit="10000" thousandSeparator=".">
        <i class="fas fa-info-circle ms-1" data-bs-placement="top" title="Caso não preencha com algum valor, será submetido como 'Grátis'."></i>
      </div>
    </div>
    <!-- <div class="mb-3">
      <label for="formFile" class="form-label">Anexar arquivo (opcional)</label>
      <input class="form-control" type="file" id="formFile">
    </div> -->
  </div>
  <div class="mb-5 mx-3">
    <label class="form-label" for="tag">Linguagens relacionadas</label>
    <div class="input-group">
      <input type="text" list="tag" class="form-control" formControlName="linguagens" #linguagem placeholder="Insira uma tag" [ngClass]="aplicaCssErro('linguagens')">
        <datalist id="tag">
          <option value=""></option>
          <option *ngFor="let linguagem of allLinguagens" value="{{linguagem.linguagem}}">{{linguagem.linguagem}}</option>
        </datalist>
      <button class="input-group-text" type="button" id="add-tag" (click)="addLinguagem(linguagem.value)">Adicionar</button>
      <span class="invalid-feedback" style="font-size: 12px;">Insira pelo menos uma linguagem</span>
    </div>
    <div class="mt-2">
      <span *ngFor="let linguagem of tags" class="p-1 me-2 rounded text-white bg-dark-gray" (click)="removeLinguagem(linguagem)">{{linguagem.linguagem}}</span>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn-gray text-white py-2 px-3 border-0" data-bs-dismiss="modal" (click)="onCancelClose()">Cancelar</button>
    <button type="submit" class="btn-primary-color text-white py-2 px-3 border-0">Publicar</button>
  </div>

</form>
