<div class="d-flex align-items-center justify-content-end" style="height: 100vh;">
  <div class="col-md-3 col-12 text-center text-md-start mt-5">
    <h1 class="text-primary-color fw-bolder">CODANALISE</h1>
    <p class="text-secondary-color fw-bolder">Inscreva-se, faça conexões, publique seu problema e encontre Devs dispostos a te ajudar.</p>
    <button class="rounded-pill border-0 px-3 py-2 bg-primary-color text-white fw-bolder" routerLink="cadastro" type="button">Cadastre-se</button>
  </div>
  <div class="col-md-8 d-none d-md-block">
    <img src="../../../../../assets/img/home-img.jpg" class="w-100">
  </div>
</div>


<h4 class="text-center text-secondary-color mb-4">Como Funciona</h4>

<div id="carouselHome" class="carousel slide w-100 mb-5 rounded" data-bs-touch="false" data-bs-interval="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active rounded-circle"></button>
    <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" class="rounded-circle"></button>
  </div>
  <div class="carousel-inner w-75 m-auto m-4 bg-bg-color">
    <div class="carousel-item active">
      <div class="d-flex flex-column flex-md-row align-items-center pe-2">
        <div class="w-50 d-none d-md-block">
          <img src="../../../../../assets/img/carousel/pefil.png" class="d-block w-100">
        </div>
        <div class="w-50">
          <p style="text-align: justify;">Mantenha sempre seu perfil atualizado para outros devs  saberem  um  pouco sobre   você  e  em  casos   de   realizar alguma  proposta  o  dev  responsável pela publicação  irá  lhe  avaliar.  Com o perfil  atualizado  mais  chances  de sua proposta ser escolhida.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex flex-column flex-md-row align-items-center pe-2">
        <div class="w-50 d-none d-md-block">
          <img src="../../../../../assets/img/carousel/feed.png" class="d-block w-100">
        </div>
        <div class="w-50">
          <p style="text-align: justify;">Na página “Feed”, você poderá realizar publicações relatando o problema que está te impedindo de evoluir, irá receber comentários e propostas de profissionais com experiência dispostos a te ajudar. Interagindo com outras publicações você aumentará seu networking.</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
