<div class="perfil-area">
  <div class="card border-0 bg-white text-dark-gray" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <div class="card-header bg-white">
      <h6 class="m-2">Perfil</h6>
    </div>
    <div class="d-md-flex d-block justify-content-center container">
      <div class="col-12 col-md-4 mt-5">
        <div class="bg-bg-color w-75 text-center p-3 rounded autoMargin">
          <img src="../../../../../assets/img/personas/avatar.png" class="w-75">
          <div class="d-flex justify-content-between align-items-center border p-2 mt-3 rounded" style="cursor: pointer;">
            <span></span>
            <span>Upload foto</span>
            <i class="fas fa-camera-retro me-2"></i>
          </div>
        </div>

        <div class="mt-5 w-75 autoMargin">
          <h5>Skills</h5>
          <hr>
          <ul class="list-group list-group-flush" *ngFor="let skill of perfil?.linguagem">
            <div class="d-flex justify-content-between align-items-center">
              <li class="list-group-item border-0">{{skill.ferramenta}}</li>
              <div class="text-end">
                <a (click)="add('Editar','skill')" (click)="editar(skill.id)" style="cursor: pointer;"><i class="far fa-edit"></i></a>
              </div>
            </div>
            <hr>
          </ul>
          <p class="text-primary-color text-decoration-underline" (click)="add('Adicionar', 'skill')" style="cursor: pointer;">Adicionar skill +</p>
        </div>

      </div>
      <div class="col-12 col-md-6 mt-5">
        <div class="mt-3">
          <div class="float-end">
            <a (click)="add('Editar','sobre')" style="cursor: pointer;"><i class="far fa-edit"></i></a>
          </div>
          <h3 class="mb-0">{{perfil?.nome}} {{perfil?.sobrenome}}</h3>
          <p class="mt-0">{{perfil?.status}}</p>
          <h5>Sobre</h5>
          <p>{{perfil?.sobre}}</p>
          <div class="d-flex flex-wrap justify-content-between">
            <div>
              <h6 class="mb-0">Linkedin:</h6>
              <p>{{perfil?.linkedin}}</p>
            </div>
            <div>
              <h6 class="mb-0">Github:</h6>
              <p>{{perfil?.github}}</p>
            </div>
          </div>

          <!-- Escolaridade -->
          <div class="mt-5">
            <h5>Escolaridade</h5>
            <hr>
            <div *ngFor="let esco of perfil?.escolaridade">
              <div class="text-end">
                <a (click)="add('Editar','escolaridade')" (click)="editar(esco.id)" style="cursor: pointer;"><i class="far fa-edit"></i></a>
              </div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="w-75">
                  <h6>Instituição</h6>
                  <p>{{esco.instituicao}}</p>
                </div>
                <div class="w-25">
                  <h6>Nível</h6>
                  <p>{{esco.nivel}}</p>
                </div>
              </div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="w-75">
                  <h6>Data Início</h6>
                  <p>{{esco.dtini}}</p>
                </div>
                <div class="w-25">
                  <h6>Data Fim</h6>
                  <p *ngIf="esco.dtfim != null">{{esco.dtfim}}</p>
                  <p *ngIf="esco.dtfim === null">Em andamento</p>
                </div>
              </div>
            </div>
            <p class="text-primary-color text-decoration-underline" (click)="add('Adicionar','escolaridade')" style="cursor: pointer;">Adicionar escolaridade +</p>
          </div>

          <!-- Experiência Profissional -->
          <div class="my-5">
            <h5>Experiência Profissional</h5>
            <hr>
            <div *ngFor="let exp of perfil?.exp">
              <div class="text-end">
                <a (click)="add('Editar','experiencia')" (click)="editar(exp.id)" style="cursor: pointer;"><i class="far fa-edit"></i></a>
              </div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="w-75">
                  <h6>Empresa</h6>
                  <p>{{exp.empresa}}</p>
                </div>
                <div class="w-25">
                  <h6>Cargo</h6>
                  <p>{{exp.cargo}}</p>
                </div>
              </div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="w-75">
                  <h6>Data Início</h6>
                  <p>{{exp.dtini}}</p>
                </div>
                <div class="w-25">
                  <h6>Data Fim</h6>
                  <p *ngIf="exp?.dtfim">{{exp.dtfim}}</p>
                  <p *ngIf="exp?.dtfim === null">Em andamento</p>
                </div>
              </div>
              <hr>
            </div>
            <p class="text-primary-color text-decoration-underline" (click)="add('Adicionar','experiencia')" style="cursor: pointer;">Adicionar experiência +</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--ng-template #carregamento>
    <div class="text-center perfil-area text-dark-gray mt-5">
        <h5>Carregando <i class="fa fa-spinner fa-spin pl-2"></i></h5>
    </div>
</ng-template-->
