.perfil-area {
  margin-left: 300px;
  padding: 25px 50px;
  i{
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .perfil-area {
    margin: 0;
    padding: 20px;
  }
  .autoMargin {
    margin: auto;
  }
}
