<div class="perfil-area">
  <div class="card border-0 bg-white text-dark-gray" style="border-radius: 15px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <div class="card-header bg-white">
      <h6 class="m-2">Perfil</h6>
    </div>
    <div class="d-md-flex d-block justify-content-center container">
      <div class="col-12 col-md-4 mt-5">
        <div class="bg-bg-color w-75 text-center p-3 rounded autoMargin">
          <img src="../../../../../assets/img/personas/foto-perfil-2.png" class="w-75">
          <div class="d-flex justify-content-between align-items-center border p-2 mt-3 rounded" style="cursor: pointer;">
            <span></span>
            <span>Upload foto</span>
            <i class="fas fa-camera-retro me-2"></i>
          </div>
        </div>
        <div class="mt-5 w-75 autoMargin">
          <div class="float-end">
            <a (click)="add('Editar','skill')" style="cursor: pointer;"><i class="far fa-edit"></i></a>
          </div>
          <h5>Skills</h5>
          <hr>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Java</li>
            <li class="list-group-item">TypeScript</li>
            <li class="list-group-item">Angular</li>
            <li class="list-group-item">HTML5</li>
            <li class="list-group-item">CSS3</li>
          </ul>
          <p class="text-primary-color text-decoration-underline" (click)="add('Adicionar', 'skill')" style="cursor: pointer;">Adicionar skill +</p>
        </div>

      </div>
      <div class="col-12 col-md-6 mt-5">
        <div class="mt-3">
          <div class="float-end">
            <a (click)="add('Editar','sobre')" style="cursor: pointer;"><i class="far fa-edit"></i></a>
          </div>
          <h3 class="mb-0">Carlos Eduardo</h3>
          <p class="mt-0">Full stack web developer</p>
          <h5>Sobre</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aut architecto porro minus voluptatibus tempore, fuga odio perferendis saepe itaque officiis reiciendis est veritatis mollitia asperiores dolorem unde alias sapiente.</p>
          <div class="d-flex flex-wrap justify-content-between">
            <div>
              <h6 class="mb-0">Linkedin:</h6>
              <p>https://linkedin/carlos.com</p>
            </div>
            <div>
              <h6 class="mb-0">Github:</h6>
              <p>https://linkedin/carlos.com</p>
            </div>
          </div>

          <!-- Escolaridade -->
          <div class="mt-5">
            <div class="float-end">
              <a (click)="add('Editar','escolaridade')" style="cursor: pointer;"><i class="far fa-edit"></i></a>
            </div>
            <h5>Escolaridade</h5>
            <hr>
            <div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="w-75">
                  <h6>Instituição</h6>
                  <p></p>
                </div>
                <div class="w-25">
                  <h6>Nível</h6>
                  <p></p>
                </div>
              </div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="w-75">
                  <h6>Data Início</h6>
                  <p></p>
                </div>
                <div class="w-25">
                  <h6>Data Fim</h6>
                  <p></p>
                </div>
              </div>
            </div>
            <p class="text-primary-color text-decoration-underline" (click)="add('Adicionar','escolaridade')" style="cursor: pointer;">Adicionar escolaridade +</p>
          </div>

          <!-- Experiência Profissional -->
          <div class="my-5">
            <div class="float-end">
              <a (click)="add('Editar','experiencia')" style="cursor: pointer;"><i class="far fa-edit"></i></a>
            </div>
            <h5>Experiência Profissional</h5>
            <hr>
            <div *ngFor="let exp of perfil?.exp">
              <div class="d-flex flex-wrap justify-content-between">
                <div class="w-75">
                  <h6>Empresa</h6>
                  <p>{{exp.empresa}}</p>
                </div>
                <div class="w-25">
                  <h6>Cargo</h6>
                  <p>{{exp.cargo}}</p>
                </div>
              </div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="w-75">
                  <h6>Data Início</h6>
                  <p>{{exp.dataInicio}}</p>
                </div>
                <div class="w-25">
                  <h6>Data Fim</h6>
                  <p>{{exp.dataFim}}</p>
                </div>
              </div>
            </div>
            <p class="text-primary-color text-decoration-underline" (click)="add('Adicionar','experiencia')" style="cursor: pointer;">Adicionar experiência +</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--ng-template #carregamento>
    <div class="text-center perfil-area text-dark-gray mt-5">
        <h5>Carregando <i class="fa fa-spinner fa-spin pl-2"></i></h5>
    </div>
</ng-template-->
