.perfil-area {
  margin-left: 300px;
  padding: 25px 50px;
  .form-control, .form-select {
    border-radius: 3px;
  }
  button {
    border-radius: 10px;
  }
  a{
    cursor: pointer;
  }
}

input, textarea {
  outline: none;
  &:focus {
    box-shadow: none;
    border: solid 2px #118ab2;
  }
}

@media screen and (max-width: 800px) {
  .perfil-area {
    margin: 0;
    padding: 20px;
  }
}
