.darkmode {
    background-color: #20232A;
    color: #F5F5F5;
    box-shadow: none;
    div {
        color: #F5F5F5;
    }
}

input {
    outline: none;
    &:focus {
      box-shadow: none;
      border: solid 2px #118ab2;
    }
}