button {
  border-radius: 10px;
}
.form-control, .form-select {
  border-radius: 3px;
}

input, textarea, select {
  outline: none;
  &:focus {
    box-shadow: none;
    border: solid 2px #118ab2;
  }
}
