.modal-content {
    color: #616161;
    button {
        border-radius: 10px;
    }
    .form-control, .form-select {
    border-radius: 3px;
    }

    input, textarea, select {
    outline: none;
        &:focus {
            box-shadow: none;
            border: solid 2px #118ab2;
        }
    }
}
.darkmode {
    background-color: #20232A;
    color: #F5F5F5;
}