.card {
    border-radius: 15px; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    .card-header {
        background-color: white;
        color: #616161;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        a {
            color: #616161;
        }
    }
    .card-footer {
        background-color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
  
.darkmode {
    background-color: #282C34;
    color: #F5F5F5;
    box-shadow: none;
    .card {
        background-color: #282C34;
        color: #F5F5F5;
        box-shadow: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 4px;
        .card-header {
        background-color: #282C34;
        color: #F5F5F5;
            a {
                color: #F5F5F5;
            }
        }
        .card-footer {
            background-color:#282C34;
        }
    }
}