.publicacao-area {
  height: 100vh;
  margin-left: 300px;
  padding: 25px 50px;

  .card {
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: #616161;
    .card-header {
      background-color: white;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .card-footer {
      background-color: white;
      a {
        color: #616161;
      }
    }
    
    .card {
      border-radius: 15px; 
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  .fa-bookmark {
    cursor: pointer;
  }
  
  button {
    border-radius: 10px;
  }
  a {
    cursor: pointer;
  }
}

.darkmode {
  background-color: #20232A;
  color: #F5F5F5;
  box-shadow: none;
  .card {
    background-color: #282C34;
    color: #F5F5F5;
    box-shadow: none;
    .card-header, .card-footer {
      background-color: #282C34;
      color: #F5F5F5;
      hr {
        border-color: white;
      }
      a {
        color: #F5F5F5;
      }
    }
    .card {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 4px;
    }
  }
}


@media screen and (max-width: 800px) {
  .publicacao-area {
    margin: 0;
    padding: 20px;
  }
}
